.bor-b-1px-col009 {
	border-bottom: 2px solid var(--color_primany_009) !important;
}

.bor {
	border: 1px solid;
	
	&.bcol-000 {
		border-color: var(--color_primany_013);
	}
	&.bcol-001 {
		border-color: var(--color_primany_001);
	}
	&.bcol-002 {
		border-color: var(--color_primany_002);
	}
	&.bcol-003 {
		border-color: var(--color_primany_003);
	}
	&.bcol-004 {
		border-color: var(--color_primany_004);
	}
	&.bcol-005 {
		border-color: var(--color_primany_005);
	}
	&.bcol-006 {
		border-color: var(--color_primany_006);
	}
	&.bcol-007 {
		border-color: var(--color_primany_007);
	}
	&.bcol-008 {
		border-color: var(--color_primany_008);
	}
	&.bcol-009 {
		border-color: var(--color_primany_009);
	}
	&.bcol-010 {
		border-color: var(--color_primany_010);
	}
	&.bcol-011 {
		border-color: var(--color_primany_011);
	}
	&.bcol-012 {
		border-color: var(--color_primany_012);
	}
	&.bcol-013 {
		border-color: var(--color_primany_013);
	}
	&.bcol-014 {
		border-color: var(--color_primany_014);
	}
}