.padd-unset {
	padding: unset !important;
}

.padd-5px {
	padding: 5px;
}

.padd-10px {
	padding: 10px;
}

.padd-15px {
	padding: 15px;
}

.padd-20px {
	padding: 20px;
}

.padd-25px {
	padding: 25px;
}

.padd-50px {
	padding: 50px;
}

.padd-t-10px {
	padding-top: 10px;
}

.padd-t-30px {
	padding-top: 30px;
}

.padd-t-40px {
	padding-top: 40px;
}

.padd-t-45px {
	padding-top: 45px;
}

.padd-t-75px {
	padding-top: 75px;
}

.padd-t-85px {
	padding-top: 85px;
}

.padd-t-250px {
	padding-top: 250px;
}

.padd-t-190px {
	padding-top: 190px;
}

.padd-tb-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padd-r-10px {
	padding-right: 10px;
}

.padd-l-10px {
	padding-left: 10px;
}

.padd-rl-50px {
	padding-right: 50px;
	padding-left: 50px;
}

.padd-rl-3px {
	padding-right: 3px;
	padding-left: 3px;
}

.padd-rl-10px {
	padding-right: 10px;
	padding-left: 10px;
}

.padd-rl-15px {
	padding-right: 15px;
	padding-left: 15px;
}

.padd-rl-20px {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.padd-rl-25px {
	padding-right: 25px;
	padding-left: 25px;
}

.padd-rl-40px {
	padding-right: 40px;
	padding-left: 40px;
}

.padd-tb-1px {
	padding-top: 1px;
	padding-bottom: 1px;
}

.padd-tb-10px {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padd-tb-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padd-tb-25px {
	padding-top: 25px;
	padding-bottom: 25px;
}

.padd-tb-30px {
	padding-top: 30px;
	padding-bottom: 30px;
}

.padd-tb-40px {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padd-b-8px {
	padding-bottom: 8px;
}

.padd-b-20px {
	padding-bottom: 20px;
}

.padd-b-10px {
	padding-bottom: 10px;
}

.padd-b-150px {
	padding-bottom: 150px;
}