.radius-circle {
	border-radius: 50%;
}

.radius-unset {
	border-radius: unset !important;
}

.radius-6px {
	border-radius: 6px;
}

.radius-9px {
	border-radius: 9px;
}

.radius-12px {
	border-radius: 12px;
}

.radius-15px {
	border-radius: 15px;
}

.radius-20px {
	border-radius: 20px;
}

.radius-40px {
	border-radius: 40px !important;
}

.radius-r-tb-12px {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.radius-l-tb-12px {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.radius-b-rl-unset {
	border-bottom-right-radius: unset;
	border-bottom-left-radius: unset;
}

.radius-t-rl-12px {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}